.gallery {
  background-color: var(--color-black);
  padding: 4rem 0 4rem 6rem;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 500px;
  padding-right: 2rem;
}

.content button {
  margin-top: 1rem;
}

.img_gallery {
  flex: 1;
  display: flex;
  max-width: 50%;
  position: relative;
}

.img_container {
  display: flex;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.img_container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 301px;
  height: 447px;
  margin-right: 2rem;
}

.img_icon {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  opacity: 0;
  transition: 0.5s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  cursor: pointer;
}

.card img:hover {
  opacity: 0.4;
}

.card img:hover + .img_icon {
  opacity: 1;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: absolute;
  bottom: 5%;
}

.arrow {
  color: var(--color-golden);
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--color-black);
  border-radius: 5px;
}

.arrow:hover {
  color: var(--color-white);
}


@media screen and (max-width: 1150px) {
  .gallery {
    flex-direction: column;
  }
  .img_gallery {
    max-width: 100%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 850px) {
  .gallery {
    padding: 4rem 0 4rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    padding: 4rem 0 4rem 2rem;
  }
  .content {
    min-width: 100%;
  }
  .card {
    min-width: 240px;
    height: 320px;
  }
}